body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
nav{
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
}
nav ul li{
  list-style: none;
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  color: whitesmoke;
  padding: 15px;
}
nav ul li a:hover{
  background-color: #444;
}
.navbar h1{
  color: whitesmoke;
  font-size: 25px;
}
.navbar .bookbtn{
  text-decoration: none;
  padding: 15px 18px;
  background-color: #444;
  color: whitesmoke;
  margin-left: 10px;
}
.navbar .bookbtn:hover{
  background-color: #777;
}
.icon{
  display: none;
  padding: 10px;
}
.dropdown{
  position: relative;
}
.dropdown-content{
position: absolute;
width: 140px;
background-color: #777;
margin-top: 10px;
display: none;
}
.dropdown-content a{
  padding: 15px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: whitesmoke;
}
.dropdown-content a:hover{
  background-color: #444;
  padding: 15px;
}
.dropdown:hover .dropdown-content{
  display: block;
}
.fa-bars{
  color: whitesmoke;
  font-size: 30px;
  visibility: hidden;
}

/* Hero Section */
.hero{
  background-image: url(Images/h3.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  margin-top: 0;
  padding-top: 1%;
}
.text h1{
  font-size: 40px;
  color: whitesmoke;
}

.text{
  max-width: 100%;
  margin-top: 5%;
  margin-left: 10%;
  color: whitesmoke;
}
.text .joinbtn{
  text-decoration: none;
  padding: 15px 18px;
  background-color: #444;
  color: whitesmoke;
  margin-left: 10px;
  border-radius: 25px;
  margin-top: 20px;
}
.text .joinbtn:hover{
  background-color: #777;
}
.text h3{
  margin-bottom: 40px;
}


/* ABOUT US SECTION */
.count{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
}
.available h1{
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  font-size: 30px;
  margin-top: 30px;
  color: white;
}
.available p{
  margin: 0;
}
Slider
.body{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide_container{
  position: relative;
  width: 800px;
  height: 350px;
  border: 3px solid #ede6d6;

}
.slide_container .slides{
  width: 100%;
  height: calc(100% - 40px);
  position: relative;
  overflow: hidden;
}
.slide_container .slides img{
  width:100% ;
  height: 100%;
  position: absolute;
  object-fit: cover;
  
}
.slide_container .slides img:not(.active){
  top: 0;
  left: -100%;
}
span.next , span.prev{
  position: absolute;
  top: 50%;
  transform: translateY(-50);
  padding: 14px;
  color: #eee;
  font-size: 24px;
  font-weight: bold;
  transition: 0.5s;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  z-index: 1;
}
span.next{
  right: 20px;
}
span.prev{
  left: 20px;
}
span.next:hover,span.prev:hover{
  background-color: #ede6d6;
  opacity: 0.8;
  color: #222;
}


.mySlides{
  display: none;
}
.texts{
  width: 500px;
  height: 300px;
}

.texts p{
  color: whitesmoke;
}
.text span{
  color: #333;
}
.texts h3{
  color: whitesmoke;
}
.all{
  background-color: #444;
  padding-top: 1px;
  padding-bottom: 10px;;
}
img {
  vertical-align: middle;
}
  


/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width: 40%;
  width: 600px;
  height: auto;
  }

.mySlides {
  display: none;
}
.cursor {
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.double{
  display: flex;
  justify-content: center;
  column-gap: 40px;
  flex-wrap: wrap;

}

/* AMENDITIES SECTION */
.amendimage{
  display: flex;
  justify-content: center;
  align-items: center;
}
.amenditytexts{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 300px;
  flex-wrap: wrap;
}

/* SUITES SECTION */
.all h3,h4{
  text-align: center;
}
.first{
  
  height: 400px;
  width: 650px;
  background-image: url("Images/Legend/Studio-165-WEB-UNIT-1002-10-of-15.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.three{
  
  height: 400px;
  width: 650px;
}
.four{
  display: flex;
  justify-content: center;
  column-gap: 20px;
  flex-wrap: wrap;
}
.top{
  height: 190px;
  width: 650px; 
  background-image: url("Images/Icon/Studio-165-WEB-UNIT-1001-9-of-27.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.left{
  
  width: 310px;
  height: 180px;
  background-image: url("Images/Double/Studio-165-WEB-UNIT-1007-3-of-8-1115x615.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.right{

  width: 310px;
  height: 180px;
  background-image: url("Images/Single/Studio-165-WEB-UNIT-1005-5-of-15-1115x615.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.two{
  display: flex;
  justify-content: center;
  column-gap: 27px;
  margin-top: 27px;
  flex-wrap: wrap;
}

.image1{
  height: 400px;
  width: 650px;
}
.imgtop{
  height: 190px;
  width: 650px;
}
.imgleft{
  width: 310px;
  height: 180px;
}
.imgright{
  width: 310px;
  height: 180px;
}
.content h1 {
  text-decoration: none;
}


/* Feedbacks section */
.card{
  width: 300px;
  height: 210px;
  margin: 15px;
  padding-top: 5px;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);

}
.textfeed p{
  margin:0 10px;
}
.textname h5{
  margin: 0;
  margin-top: 5px;
  margin-left: 10px;
}
.imagefeed{
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
}
.imagefeed img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.feed{
  display: flex;
  justify-content: center;
  column-gap: 20px;
  flex-wrap: wrap;
}
.feedbacks{
  margin-bottom: 10px;
}
.all a{
  color: whitesmoke;
}
.all a:hover{
  color: rgb(112, 112, 245);
}
.content h1{
  margin: 20px 20px;
}



/* Contacts Section */
.contact-all{
  background-color: #666;
  padding-top: 20px;
  padding-bottom: 20px;
}
.form{
  max-width: 600px;
  height: 330px;
}
.input{
  padding: 10px 40px 10px 10px;
  width: 85%;
  outline: none;
  margin-bottom: 15px;
}
textarea{
  width: 85%;
  outline: none;
  padding: 10px 40px 10px 10px;
  margin-bottom: 20px;
}
.submitin{
  padding: 10px 24px;
}
.contact{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 40px;
}
.map{
 max-width: 600px;
  height: 242px;
}
.location-map{
 width: 600px;
  height: 400px;
}

.location h6{
  margin: 0;
  margin: 10px 0;
}

iframe{
  width: 600px;
  height: 242px;
  margin-bottom: 70px;
}
.socials-cont{
  background-color: #333;
  padding: 5px 0;
}
.cont-socials{
  display: flex;
  justify-content: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.socials{
  margin-left: 100px;
}
.socials h6{
  margin: 0;
  margin: 10px 0;
}
.fa-phone,.fa-envelope,.fa-location-dot{
  margin-bottom: 15px;
}
.fa-instagram,.fa-x-twitter,.fa-facebook,.fa-whatsapp{
  margin: 0 10px;
}
.fa-instagram{
  font-size: 30px;
  color: whitesmoke;
}
.fa-x-twitter{
  font-size: 30px;
  color: whitesmoke;
}
.fa-facebook{
  font-size: 30px;
  color: whitesmoke;
}
.fa-whatsapp{
  font-size: 30px;
  color: whitesmoke;
}
.para{
  color: whitesmoke;
   display: inline-block;
}
.fa-location-dot{
  color: whitesmoke;
}
.fa-phone{
  color: whitesmoke;
}
.fa-envelope{
  color: whitesmoke;
}
.socials h6{
  color: whitesmoke;
}
.detailcont h6{
  color: whitesmoke;
}
.socials-cont h5{
  text-align: center; 
  color: whitesmoke;
}
/* Footer Section */
.footer{
  text-align: center;
  background-color: #111;
  color: whitesmoke;
  padding: 10px 0;
}

@media(max-width:600px){
  /* Amenities section */
  .icon{
    display: block;
  }
  .topnav{
    display: block;
  }
 .amenimg{
    width: 100%;
  } 
 .hotel{
  margin-right: 75px;
 }
  nav ul li{
    display: none;
  }
  .fa-bars{
    color: whitesmoke;
    font-size: 35px;
    display: block;
    visibility: visible;
    margin-right: 10px;
  }
  .navbar h1{
    color: whitesmoke;
    font-size: 17px;
  }
  .navbar .bookbtn{
    padding: 10px 12px;
  }
  .hero{
    height: 50vh;
  }
   .first{
    width: 100%;
  } 
   .top{
    width: 100%;
  }
  .left{
    width: 100%;
  }
  .right{
    width: 100%;
  } 
  .all{
    padding-bottom: 60%;
  } 
  /* About Section */
  .texts{
    width: 100%;
    height: auto;
    border: 1px solid black;
  }
  .texts p{
    width: 100%;
  }
  .container{
    width: 100%;
  }
  .double{
    width: 100%;
  }
  .text h1{
    font-size: 25px;
    margin-bottom: 0;
    margin-bottom: 20px;
  }
  
  .heros{
    padding-bottom: 20px;
  }
  .joinbtn a{
    padding-bottom: 20px;
  }
  h1 span{
    font-size: 30px;
  }

  .footer{
    font-size: 10px;
  }
  iframe{
    width: 100%;
  }
  .socials{
    margin-left: 30px;
    margin-right: 235px;
  }
  .cont-socials{
    column-gap: 0;
  }
  .fa-instagram{
    font-size: 15px;
    color: whitesmoke;
    margin: 0;
    margin-right: 10px;
  }
  .fa-x-twitter{
    font-size: 15px;
    color: whitesmoke;
    margin: 0;
    margin-right: 10px;
  }
  .fa-facebook{
    font-size: 15px;
    color: whitesmoke;
    margin: 0;
    margin-right: 10px;
  }
  .fa-whatsapp{
    font-size: 15px;
    color: whitesmoke;
    margin: 0;
    margin-right: 10px;
  }
  .bookbtn{
    display: none;
  }
}